<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-header">Enviar mensaje</div>
                <div class="var-boby"><textarea name="" id="" cols="30" rows="10" class="form-control"></textarea></div>
                <div class="card-footer">
                    <button class="btn btn-outline-success float-end">Enviar</button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mensaje</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Lorem aapappapa sasdosadoasdoaosd wdodaodoawdowd anodwdnasndasdsaa doasdosndaodsanonsnda sascosdoassoandos scasocmsocnasosc aosnoasnso</th>
                <th>Batman
                    <img src="https://thiscatdoesnotexist.com" alt="" class="roudred" width="100px" height="100px">
                </th>
                <th>30/08/22</th>
                <th>
                    <button class="btn btn-outline-info mb-1"><i class="bi bi-pencil-square"></i></button>

                    <button class="btn btn-outline-danger mb-1"><i class="bi bi-trash-fill"></i></button>
                </th>
            </tr>
            <tr>
                <th>2</th>
                <th>Lorem aapappapa sasdosadoasdoaosd wdodaodoawdowd anodwdnasndasdsaa doasdosndaodsanonsnda sascosdoassoandos scasocmsocnasosc aosnoasnso</th>
                <th>Superman
                    <img src="https://thiscatdoesnotexist.com" alt="" class="roudred" width="100px" height="100px">
                </th>
                <th>30/08/22</th>
                <th>
                    <button class="btn btn-outline-info mb-1"><i class="bi bi-pencil-square"></i></button>

                    <button class="btn btn-outline-danger mb-1"><i class="bi bi-trash-fill"></i></button>
                </th>
            </tr>
            <tr>
                <th>3</th>
                <th>Lorem aapappapa sasdosadoasdoaosd wdodaodoawdowd anodwdnasndasdsaa doasdosndaodsanonsnda sascosdoassoandos scasocmsocnasosc aosnoasnso</th>
                <th>Linterna Verde
                    <img src="https://thiscatdoesnotexist.com" alt="" class="roudred" width="100px" height="100px">
                </th>
                <th>30/08/22</th>
                <th>
                    <button class="btn btn-outline-info mb-1"><i class="bi bi-pencil-square"></i></button>

                    <button class="btn btn-outline-danger mb-1"><i class="bi bi-trash-fill"></i></button>
                </th>
            </tr>
        </tbody>
    </table>
</div>
